BOOTLOADER_ROOT := $(ROOT)/bootloader
KERNEL_ROOT := $(ROOT)/kernel

NASM            := nasm
CC              := gcc
LD              := ld
OBJ             := objcopy
QEMU            := qemu-system-x86_64

NASM_FLAGS      :=  -f elf32
LINKER_FLAGS    :=  -m elf_i386
CC_FLAGS        :=  -c -ggdb3 -m32 -ffreestanding -fno-PIE -mno-red-zone -fno-exceptions -nostartfiles -O0 -nostdlib -std=c99
OBJ_FLAGS       :=  -O binary
QEMU_FLAGS      :=  -drive format=raw,file=