BOOTLOADER_ROOT := $(ROOT)/bootloader
KERNEL_ROOT     := $(ROOT)/kernel
LIBC_ROOT       := $(ROOT)/libc

LIBC_INC_ROOT   := $(LIBC_ROOT)/include
KERNEL_INC_ROOT := $(KERNEL_ROOT)/include

NASM            := nasm
CC              := gcc
LD              := ld
OBJCOPY         := objcopy
QEMU            := qemu-system-x86_64

NASM_FLAGS      :=  -f elf32
LINKER_FLAGS    :=  -m elf_i386
CC_FLAGS        :=  -c -ggdb3 -m32 -ffreestanding -fno-PIE -mno-red-zone -fno-exceptions -nostartfiles -O0 -nostdlib -std=c99
CC_INC_FLAGS    :=  -I$(LIBC_INC_ROOT) -I$(KERNEL_INC_ROOT)
OBJ_FLAGS       :=  -O binary
QEMU_FLAGS      :=  -drive format=raw,file=

