KERNEL_C_SRC        :=  $(wildcard $(KERNEL_ROOT)/src/*.c)
KERNEL_ASM          :=  $(wildcard $(KERNEL_ROOT)/src/asm/*.asm)

KERNEL_ASM_OBJS     :=  $(KERNEL_ASM:.asm=.o)
KERNEL_C_OBJS       :=  $(KERNEL_C_SRC:.c=.o)
KERNEL_OBJS         :=  $(KERNEL_C_OBJS)
KERNEL_OBJS         +=  $(KERNEL_ASM_OBJS)